 .u-section-1 {
  background-image: url("images/b90d8d970ce67913985f2ccce40f4ec413ad94f858235769a4bbd8acd6ee3e44d93a0996b1ee658b7039774c4c93130b5594cca4e966786df6abc0_1280.jpg");
  background-position: 50% 50%;
  min-height: 870px;
}

.u-section-1 .u-group-1 {
  min-height: 423px;
  height: auto;
  margin-top: 323px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 0 74px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 782px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 384px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 599px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 449px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 426px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 30px;
    min-height: 336px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 20px;
    margin-right: -8px;
    margin-left: 8px;
  }
} .u-section-2 {
  background-image: url("images/Untitled-1.jpg");
  background-position: 50% 0%;
}

.u-section-2 .u-sheet-1 {
  min-height: 515px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 69px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1154px;
  margin: 29px -14px 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 295px;
  --gap: 10px;
  grid-auto-columns: calc(25% - 7.5px);
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-icon-2 {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 500;
  margin: 13px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 33px 0 0 13px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-icon-3 {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 500;
  margin: 13px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 33px 0 0 13px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-icon-4 {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-6 {
  font-weight: 500;
  margin: 13px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 33px 0 0 13px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-icon-5 {
  width: 103px;
  height: 103px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 500;
  margin: 13px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 33px 0 0 13px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -140px;
    width: 940px;
    margin-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 240px;
    grid-gap: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    background-position: 3.32% 0%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 884px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 735px;
    grid-auto-columns: calc(50% - 5px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    background-position: 94.03% 0%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: -70px;
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    background-position: 88.6% 0%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 83px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 16px;
    margin-bottom: 60px;
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1452px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 20px auto 0 492px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 8px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 559px;
  filter: none;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  object-position: 50% 39.59%;
  filter: none;
  width: 257px;
  height: 263px;
  margin: 0 52px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  font-style: italic;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 559px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  height: 257px;
  object-position: 50% 60.72%;
  width: 257px;
  background-image: url("images/393921591_703907837935664_6785020870795828634_n.jpg");
  background-position: 50% 30.66%;
  background-size: cover;
  margin: 30px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 559px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-image-3 {
  height: 257px;
  object-position: 50% 46.55%;
  width: 257px;
  background-image: url("images/370279692_1101315481033807_4609156021525473957_n.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 156px;
  margin: 30px auto 0;
}

.u-section-3 .u-text-7 {
  font-style: italic;
  font-weight: 700;
  margin: 26px 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 646px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-3 .u-image-4 {
  width: 169px;
  height: 300px;
  margin: 20px auto 0 84px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0 84px;
}

.u-section-3 .u-text-9 {
  font-style: italic;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 646px;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-3 .u-image-5 {
  width: 169px;
  height: 300px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-3 .u-text-11 {
  font-style: italic;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 646px;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 9px 30px;
}

.u-section-3 .u-icon-1 {
  width: 162px;
  height: 162px;
  margin: 30px auto 0 51px;
  padding: 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 25px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 406px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-3 .u-image-1 {
    inset: auto;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 461px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 461px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 533px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 533px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 533px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 311px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    width: 220px;
    height: 225px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-2 {
    height: 220px;
    width: 220px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-image-3 {
    height: 187px;
    width: 187px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-image-4 {
    margin-left: 51px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 63px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 233px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 147px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 522px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    margin-top: 25px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 611px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 147px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1081px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 0px;
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 843px;
  --gap: 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 83px;
  height: 83px;
  object-position: 100% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-line-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 83px;
  height: 83px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-line-2 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  width: 83px;
  height: 83px;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-line-3 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-image-4 {
  width: 83px;
  height: 83px;
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-line-4 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-5 .u-list-item-5 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-image-5 {
  width: 83px;
  height: 83px;
  margin: 0 auto;
}

.u-section-5 .u-text-10 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-line-5 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center;
}

.u-section-5 .u-list-item-6 {
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-image-6 {
  width: 83px;
  height: 83px;
  margin: 0 auto;
}

.u-section-5 .u-text-12 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-5 .u-text-13 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-5 .u-line-6 {
  margin-top: 30px;
  margin-bottom: 0;
  transform-origin: left center;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-gap: 30px;
    min-height: 695px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 1198px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 98px;
}

.u-section-6 .u-social-icons-1 {
  height: 78px;
  width: 420px;
  margin: 20px 334px 0 auto;
}

.u-section-6 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-6 .u-icon-2 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 176px;
    margin-right: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-social-icons-1 {
    margin-right: 120px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 78px;
  }

  .u-section-6 .u-social-icons-1 {
    width: 340px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
}